<div
    class="sidebar fixed-top z-1 vh-100 border border-white col-md-3 col-lg-2 p-0 bg-body-tertiary mt-5"
>
    <div
        class="offcanvas-lg offcanvas-end bg-body-tertiary"
        tabindex="-1"
        id="sidebarMenu"
        aria-labelledby="sidebarMenuLabel"
    >
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="sidebarMenuLabel">
                Cococrans Dashboard
            </h5>
            <button
                type="button"
                class="btn-close"
                data-bs-dismiss="offcanvas"
                data-bs-target="#sidebarMenu"
                aria-label="Close"
            ></button>
        </div>
        <div
            class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto"
        >
            <ul class="nav flex-column list-group">
                <li
                    class="nav-item list-group-item {{ Request::is('dashboard') ? 'active' : '' }}"
                >
                    <a
                        class="nav-link text-black"
                        aria-current="page"
                        href="/dashboard"
                    >
                        <i class="fa-solid fa-house"></i>
                        Dashboard
                    </a>
                </li>
                <li
                    class="nav-item list-group-item {{ Request::is('dashboard/post*') ? 'active' : '' }}"
                >
                    <a class="nav-link text-black" href="/dashboard/post">
                        <i class="fa-solid fa-file-lines"></i>
                        My Posts
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
